/Number-7/UVA_10954_Add_All/nbproject/private/
/Number-7/UVA_10954_Add_All/build/
/Buoi8Dijkstra/nbproject/private/
/Buoi8Dijkstra/build/
/Buoi5/nbproject/private/
/Buoi5/build/
/ThiGiuaKi_B1/nbproject/private/
/ThiGiuaKy_B2/nbproject/private/
/ThiGiuaKy_B2/build/
/ThiGiuaKi_B1/build/
/TGK_Bai5/nbproject/private/
/TGK_Bai5/build/
/TGK_bai3/nbproject/private/
/TGK_bai3/build/
/TGK_Bai4/nbproject/private/
/TGK_Bai4/build/