/Number-7/UVA_10954_Add_All/nbproject/private/
/Number-7/UVA_10954_Add_All/build/
/Buoi8Dijkstra/nbproject/private/
/Buoi8Dijkstra/build/
/Buoi5/nbproject/private/
/Buoi5/build/
/ThiGiuaKi_B1/nbproject/private/
/ThiGiuaKy_B2/nbproject/private/
/ThiGiuaKy_B2/build/
/ThiGiuaKi_B1/build/
/TGK_Bai5/nbproject/private/
/TGK_Bai5/build/
/TGK_bai3/nbproject/private/
/TGK_bai3/build/
/TGK_Bai4/nbproject/private/
/TGK_Bai4/build/
/Buoi10/nbproject/private/
/Buoi10/build/
/Buoi11/nbproject/private/
/Buoi11/build/
/Buoi12_bai1/nbproject/private/
/Buoi12_bai1/build/
/Buoi12_bai2/nbproject/private/
/Buoi12_bai2/build/
/Buoi12_btvn1/nbproject/private/
/Buoi12_btvn1/build/
/Buoi12_btvn2/nbproject/private/
/Buoi12_btvn2/build/
/Buoi12_btvn2/dist/
/Buoi12_btvn4/nbproject/private/